<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            margin-left: 40px;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }
        .highlight {color: yellow;}

      </style>
    <meta charset="utf-8">
    <title>Choose Your Preferable crRNA</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Optional crRNA strands: </h1>

    <p><b>crRNAs in sense strand:</b></p>
    <ul>
        {% for crrna in result.sense_crrnas %}
        <li>
            {{ crrna }}
        </li>
        {% endfor %}
    </ul>
    <br>
    <p><b>crRNAs in anti-sense strand:</b></p>
    <ul>
        {% for crrna in result.anti_sense_crrnas %}
        <li>
            {{ crrna }}
        </li>
        {% endfor %}
    </ul>
    <br>
    <p>If you wish to check the off-target and on-target scores for the optional crRNAs, you can copy and paste
        the crRNAs as formatted below to the
        <a href="https://eu.idtdna.com/site/order/designtool/index/CRISPR_SEQUENCE" target="_blank">
            IDT's CRISPR-Cas9 guide RNA design checker</a>:</p>
    <br>
    <ul style="list-style-type:none;">
        {% for crrna in result.sense_crrnas %}
        <li>
            >Sequence{{crrna[1].start}}<br>
            {{ crrna[0] }}
        </li>
        {% endfor %}
    </ul>
    <ul style="list-style-type:none;">
        {% for crrna in result.anti_sense_crrnas %}
        <li>
            >Sequence{{crrna[1].start}}<br>
            {{ crrna[0] }}
        </li>
        {% endfor %}
    </ul>
    <br>
    <p><b>A guide to choosing you guide:</b><br>
    In the fortunate event that WormCoolKit and IDT gRNA design checker provided you with more than one possible guide,
        here are our guidelines for choosing the best one:<br>
        <ul>
        <li>Closer is better – the PAM site should be as close as possible to the location of your point mutation.
    Efficiency of the CRISPR is declining the further the cut site is from the mutations you want to insert.</li>
        <li>Consider the restriction enzyme/site – insertion of fewer mutations is usually better so if the “must have”
    mutations (amino acid and disruption of the recognition site) are causing the appearance or disappearance of a
    restriction site that’s preferable. Another favorable result can be if one of the designs gives you a restriction
    site for an enzyme you already have.</li>
        <li>IDT score – in our hands, every guide with an on-target score of 50 and above worked great. We think that
            this is the least important thing to consider. A high off-target score is nice but as long as its above 90
            (and most of them are in C. elegans) you shouldn’t have any problems a few out-crosses wouldn’t solve.</li>
        </ul>
    <br>
    <P>Once you choose your preferable crRNA sequence, please go back and re-send your query along with and your
        chosen crRNA and relevant strand.</P><br>
    <div class="gap-80"></div>
    <footer>
        <p>&copy; All rights reserved to <a href="https://www.zaidelbarlab.com/">Ronen Zaidel Bar's lab</a>.</p>
        <p>Developed and maintained by Liran Avda of Ronen Zaidel Bar's lab.</p>
    </footer>
    {% endblock %}
  </body>
</html>