<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            margin-left: 40px;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }
        .highlight {color: yellow;}

      </style>
      <script type="text/javascript">
          function highlight_substring (element, start, end) {
            var str = element.innerHTML;
            str = str.substr(0, start) + '<span class="highlight">' + str.substr(start, end - start + 1) + '</span>' + str.substr(end + 1);
            element.innerHTML = str;
          }
      </script>
    <meta charset="utf-8">
    <title>Your Results Are Here!</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Your CRISPR Results Are Here! </h1>

    <p>Restriction enzymes relevant for your query:</p>
    {% if result.enzymes %}
        {% for r_enzyme in result.enzymes %}
            <li class="special ">{{ r_enzyme }}</li>
        {% endfor %}
    {% else %}
        <p>All known enzymes</p>
    {% endif %}


    <br><p>for crRNA: {{result.crRNA[0]}} in index: {{result.crRNA[1].start}}-{{result.crRNA[1].end}}
        in strand: {{result.crRNA_strand}}</p>

    <p>Restriction sites who have been inserted into the sequence using no additional mutations (other than codon
        mutations and prevent-reattachment mutations), if found:</p>
    <ul>
        {% for restriction_mutation in result.no_extra_inserted_mutations_sites %}
            <li> Codon mutation(s) to change amino acid:
                <ul>
                    {% for point_mutation in restriction_mutation.codon_mutations %}
                    <li>
                        {{ point_mutation.index }}, {{ point_mutation.new_nucleotide }}
                    </li>
                    {% endfor %}
                </ul>
                <br>
                Mutations to prevent reattachment:
                <ul>
                    {% for point_mutation in restriction_mutation.reattachment_mutations %}
                    <li>
                        {{ point_mutation.index }}, {{ point_mutation.new_nucleotide }}
                    </li>
                    {% endfor %}
                </ul>
                <br>
                Restriction site mutations:<br>
                Restriction site in indexes {{ restriction_mutation.restriction_site.index.start }}-
                {{ restriction_mutation.restriction_site.index.end }}
                <br>with enzyme: {{ restriction_mutation.restriction_site.enzyme }}<br>
                <br>
            </li>
        {% endfor %}
    </ul>
    <br>
    <p>Restriction sites who have been inserted into the sequence using additional mutations (other than codon
        mutations and prevent-reattachment mutations), if found:</p>
    <ul>
        {% for restriction_mutation in result.inserted_sites %}
            <li> Codon mutation(s) to change amino acid:
                <ul>
                    {% for point_mutation in restriction_mutation.codon_mutations %}
                    <li>
                        {{ point_mutation.index }}, {{ point_mutation.new_nucleotide }}
                    </li>
                    {% endfor %}
                </ul>
                <br>
                Mutations to prevent reattachment:
                <ul>
                    {% for point_mutation in restriction_mutation.reattachment_mutations %}
                    <li>
                        {{ point_mutation.index }}, {{ point_mutation.new_nucleotide }}
                    </li>
                    {% endfor %}
                </ul>
                <br>
                Restriction site mutations:<br>
                Restriction site in indexes {{ restriction_mutation.restriction_site.index.start }}-
                {{ restriction_mutation.restriction_site.index.end }}
                <br>with enzyme {{ restriction_mutation.restriction_site.enzyme }}
                <br>with mutations:
                <ul>
                    {% for point_mutation in restriction_mutation.mutated_sites %}
                    <li>
                        {{ point_mutation.index }}, {{ point_mutation.new_nucleotide }}
                    </li>
                    {% endfor %}
                </ul>
                <br>
            </li>
        {% endfor %}
    </ul>
    <br>
    <p>Restriction sites who have been removed from the sequence using no additional mutations (other than codon
        mutations and prevent-reattachment mutations), if found:</p>
    <ul>
        {% for restriction_mutation in result.no_extra_removed_mutations_sites %}
            <li> Codon mutation(s) to change amino acid:
                <ul>
                    {% for point_mutation in restriction_mutation.codon_mutations %}
                    <li>
                        {{ point_mutation.index }}, {{ point_mutation.new_nucleotide }}
                    </li>
                    {% endfor %}
                </ul>
                <br>
                Mutations to prevent reattachment:
                <ul>
                    {% for point_mutation in restriction_mutation.reattachment_mutations %}
                    <li>
                        {{ point_mutation.index }}, {{ point_mutation.new_nucleotide }}
                    </li>
                    {% endfor %}
                </ul>
                <br>
                Restriction site mutations:<br>
                Restriction site in indexes {{ restriction_mutation.restriction_site.index.start }}-
                {{ restriction_mutation.restriction_site.index.end }}
                <br>with enzyme {{ restriction_mutation.restriction_site.enzyme }}
                <br>
            </li>
        {% endfor %}
    </ul>
    <br>
    <p>Restriction sites who have been removed from the sequence using additional mutations (other than codon
        mutations and prevent-reattachment mutations), if found:</p>
    <ul>
        {% for restriction_mutation in result.removed_sites %}
            <li> Codon mutation(s) to change amino acid:
                <ul>
                    {% for point_mutation in restriction_mutation.codon_mutations %}
                    <li>
                        {{ point_mutation.index }}, {{ point_mutation.new_nucleotide }}
                    </li>
                    {% endfor %}
                </ul>
                <br>
                Mutations to prevent reattachment:
                <ul>
                    {% for point_mutation in restriction_mutation.reattachment_mutations %}
                    <li>
                        {{ point_mutation.index }}, {{ point_mutation.new_nucleotide }}
                    </li>
                    {% endfor %}
                </ul>
                <br>
                Restriction site mutations:<br>
                Restriction site in indexes {{ restriction_mutation.restriction_site.index.start }}-
                {{ restriction_mutation.restriction_site.index.end }}
                <br>with enzyme {{ restriction_mutation.restriction_site.enzyme }}
                <br>with mutations:
                <ul>
                    {% for point_mutation in restriction_mutation.mutated_sites %}
                    <li>
                        {{ point_mutation.index }}, {{ point_mutation.new_nucleotide }}
                    </li>
                    {% endfor %}
                </ul>
                <br>
            </li>
        {% endfor %}
    </ul>
    <br>

    <div class="gap-80"></div>
    <footer>
        <p>&copy; All rights reserved to <a href="https://www.zaidelbarlab.com/">Ronen Zaidel Bar's lab</a>.</p>
        <p>Developed and maintained by Liran Avda of Ronen Zaidel Bar's lab.</p>
    </footer>
    {% endblock %}
  </body>
</html>