<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            margin-left: 40px;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }
      </style>
    <meta charset="utf-8">
    <title>Your Results Are Here!</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Your CRISPR Results Are Here! </h1>
    <p>result</p>
    {% endblock %}
  </body>
</html>