<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <style>
          .loader {
            position: fixed;
            left: 50%;
            top: 50%;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
           }
           @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
           }
      </style>
      <script type="text/javascript">
        function toggle_visibility(id1,id2) {
            var e1 = document.getElementById(id1);
            var e2 = document.getElementById(id2);
            if(e1.style.display == 'block'){
                e1.style.display = 'none';
                e2.style.display = 'block';
            }
            else{
                e1.style.display = 'block';
                e2.style.display = 'none';
            }
          }
</script>
    <title>The Automated CRISPR Planner</title>
  </head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="loader" id="myloader" style="display: none;"></div>
    <div class="container" id="mycontainer" style="display: block;">
    <h1> Get a complete CRISPR plan for your point mutation request</h1>
    <p> The Automated CRISPR Planner aims to streamline your CRISPR design process given only the gene name and the
        amino acid mutation you wish to insert.</p>
    <p>For now, the tool only works for point mutations (one amino acid changed to another) in the
        <i>Caenorhabditis elegans</i> genome.
    <br>The tool has been built to generate CRISPR designs according to the methods described
        in Geraldine Seydoux's paper:</p>
        <p>Paix A, Folkmann A, Goldman DH, et al. Precision genome editing using synthesis-dependent repair
            of Cas9-induced DNA breaks. <i>Proc Natl Acad Sci U S A.</i> 2017;114(50):E10745-E10754.
            doi:10.1073/pnas.1711979114</p>

    <h1>Automated CRISPR Planner</h1>
    <p> In order to use the service, please insert your worm gene name, nucleotide strand sequence (unspliced + UTR;
        optional), amino acid site you wish to mutate, the amino acid you wish to alter from and the amino acid you
        wish to alter to.</p>
        <p>If you don't have a valid crRNA  sequence with which you wish to plan your CRISPR, please leave that box empty.
        <br>Once clicking the "Submit" button, you will be presented with all possible crRNA sequences relevant to
        your request.<br>
        In order to get results regarding a crRNA sequence of your choosing, copy the crRNA
            (and remember its strand), and re-fill your query, this time attaching the chosen crRNA.</p>
    <div class="gap-10"></div>
    <form action="/crispr" method="POST">
        Your worm gene name: <input name="name">
        <br> The amino acid site: <input name="site">
        <br> The nucleotide strand (unspliced + UTR; optional): <input style=width:700px; name="seq">
        <br> From: <select name="from_aa">
                    <option value="ALANINE">Alanine</option>
                    <option value="ARGININE">Arginine</option>
                    <option value="ASPARAGINE">Asparagine</option>
                    <option value="ASPARTIC_ACID">Aspartic Acid</option>
                    <option value="CYSTEINE">Cysteine</option>
                    <option value="GLUTAMINE">Glutamine</option>
                    <option value="GLUTAMIC_ACID">Glutamic Acid</option>
                    <option value="GLYCINE">Glycine</option>
                    <option value="HISTIDINE">Histidine</option>
                    <option value="ISOLEUCINE">Isoleucine</option>
                    <option value="LEUCINE">Leucine</option>
                    <option value="LYSINE">Lysine</option>
                    <option value="METHIONINE">Methionine</option>
                    <option value="PHENYLALANINE">Phenylalanine</option>
                    <option value="PROLINE">Proline</option>
                    <option value="SERINE">Serine</option>
                    <option value="THREONINE">Threonine</option>
                    <option value="TRYPTOPHAN">tryptophan</option>
                    <option value="TYROSINE">Tyrosine</option>
                    <option value="VALINE">Valine</option>
                </select>
        To: <select name="to_aa">
                <option value="ALANINE">Alanine</option>
                <option value="ARGININE">Arginine</option>
                <option value="ASPARAGINE">Asparagine</option>
                <option value="ASPARTIC_ACID">Aspartic Acid</option>
                <option value="CYSTEINE">Cysteine</option>
                <option value="GLUTAMINE">Glutamine</option>
                <option value="GLUTAMIC_ACID">Glutamic Acid</option>
                <option value="GLYCINE">Glycine</option>
                <option value="HISTIDINE">Histidine</option>
                <option value="ISOLEUCINE">Isoleucine</option>
                <option value="LEUCINE">Leucine</option>
                <option value="LYSINE">Lysine</option>
                <option value="METHIONINE">Methionine</option>
                <option value="PHENYLALANINE">Phenylalanine</option>
                <option value="PROLINE">Proline</option>
                <option value="SERINE">Serine</option>
                <option value="THREONINE">Threonine</option>
                <option value="TRYPTOPHAN">tryptophan</option>
                <option value="TYROSINE">Tyrosine</option>
                <option value="VALINE">Valine</option>
            </select>
        <br> Preferred restriction enzymes (no need to add the notation "-HF" for high fidelity):
        <input style=width:700px; name="enzymes">
        <br> For example: EcoRI, PvuII, BspHI, etc'.
        <br> *By not providing any relevant restriction enzymes, the tool will search for
        <a href="https://international.neb.com/tools-and-resources/selection-charts/alphabetized-list-of-recognition-specificities" target="_blank">all known enzymes</a>.
        <br>Maximum number of results (per crRNA) <input type="text" name="max_results" list="max_num" style=width:55px; value=1>
            <datalist id="max_num">
            </datalist>
        <br> chosen crRNA (if you have already): <input style=width:300px; name="crrna">
               in strand: <select name="crrna_strand">
                <option value=1>Sense</option>
                <option value=-1>Anti-sense</option>
        </select>
        <br><input type="submit" value="Submit" onclick="toggle_visibility('myloader','mycontainer');">
    </form>

    <div class="gap-30"></div>
    <p>***The process can take up to several minutes, please be patient***</p>

    </div>

    <div class="gap-80"></div>
    <footer>
        <p>&copy; All rights reserved to <a href="https://www.zaidelbarlab.com/">Ronen Zaidel Bar's lab</a>.</p>
        <p>Developed and maintained by Liran Avda of Ronen Zaidel Bar's lab.</p>
    </footer>
    {% endblock %}
</body>
</html>