<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Results Are Here!</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Your Results Are Here! </h1>
    <p>Could not carry out the request for your {{ query }} query. </p>
    <p>Reason: {{ error }} </p>

    <div class="gap-80"></div>
    <footer>
        <p>&copy; All rights reserved to <a href="https://www.zaidelbarlab.com/">Ronen Zaidel Bar's lab</a>.</p>
        <p>Developed and maintained by Liran Avda of Ronen Zaidel Bar's lab.</p>
    </footer>
    {% endblock %}
  </body>
</html>