<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WormCoolKit</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Welcome to Worm Cool Kit! </h1>
    <p> This site contains all bioinformatic tools that have been created and developed in Ronen Zaidel Bar's Lab,
    in the field of genetic research of the Caenorhabditis elegans genome.</p>
    <div class="gap-80"></div>
    <footer>
        <p>&copy; All rights reserved to <a href="https://www.zaidelbarlab.com/">Ronen Zaidel Bar's lab</a>.</p>
        <p>Developed and maintained by Liran Avda of Ronen Zaidel Bar's lab.</p>
    </footer>
    {% endblock %}
  </body>
</html>