<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Orthologs Finder</title>
  </head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Find your Human-C.elegans orthologous genes and check your variants</h1>
    <p> The Orthologs Finder project is consisted of  two sub services:</p>
    <p><b> 1. Find the C.elegans orthologs:</b></p>
	<p>A service that aims to find the best C.elegans orthologs for your human genes.</p>
    <p><b> 2. Find the Human orthologs:</b></p>
	<p>A service that aims to find the best Human orthologs for your C.elegans genes.</p>
    <p><b> 3.  Check the variants</b></p>
	<p>A service that aims to provide you with information regarding a specific variant you’d like to CRISPR.</p>

    <h1>Find The C.elegans Orthologs</h1>
    <p> In order to use the service, please insert your human genes names (separated by commas if there are more than
        one), for example: TCP1,DDR1,SRSF5</p>
    <div class="gap-10"></div>
    <form action="/c_elegans_orthologs" method="POST">
        Your human genes: <input style=width:400px; name="text">
        <input type="submit" value="Submit">
        <select name="type_select">
            <option value=True>Genes Names</option>
            <option value=>Genes Ids</option>
        </select>
    </form>

    <h1>Find The Human Orthologs</h1>
    <p> In order to use the service, please insert your C.elegans genes names (separated by commas if there are more
        than one), for example: cct-1,cap-1,arx-2</p>
    <div class="gap-10"></div>
    <form action="/human_orthologs" method="POST">
        Your C.elegans genes: <input style=width:400px; name="text">
        <input type="submit" value="Submit">
        <select name="type_select">
            <option value=True>Genes Names</option>
            <option value=>Genes Ids</option>
        </select>
    </form>

    <h1><b> Check The Variants </b></h1>
    <p> In order to use the service, please insert your genes names and variants according to the format below:</p>
    <p>GeneName1:[Var1,Var2],GeneName2:[Var1,Var2,Var3], for example: TCP1:[Asn284Ser,Ala453Glu],KDELR3:[Arg169Trp,Val199Gly]</p>
    <div class="gap-10"></div>
    <form action="/variants" method="POST">
        Your human genes and their variants: <input style=width:400px; name="text">
        <input type="submit" value="Submit">
    </form>

    {% endblock %}
</body>
</html>