<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <style>
          .loader {
            position: fixed;
            left: 50%;
            top: 50%;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
           }
           @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
           }
      </style>
      <script type="text/javascript">
        function toggle_visibility(id1,id2) {
            var e1 = document.getElementById(id1);
            var e2 = document.getElementById(id2);
            if(e1.style.display == 'block'){
                e1.style.display = 'none';
                e2.style.display = 'block';
            }
            else{
                e1.style.display = 'block';
                e2.style.display = 'none';
            }
          }
       </script>
    <title>The Ortholog Finder</title>
  </head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="loader" id="myloader" style="display: none;"></div>
    <div class="container" id="mycontainer" style="display: block;">
    <h1> Find your Human-Caenorhabditis elegans orthologous genes and check your variants</h1>
    <p> The Ortholog Finder project is consisted of three sub services:</p>
    <p><b> 1. Find the Caenorhabditis elegans orthologs:</b></p>
	<p>A service that aims to find the best Caenorhabditis elegans orthologs for your human genes.</p>
    <p><b> 2. Find the Human orthologs:</b></p>
	<p>A service that aims to find the best Human orthologs for your Caenorhabditis elegans genes.</p>
    <p><b> 3.  Check the variants</b></p>
	<p>A service that aims to provide you with information regarding a specific variant you’d like to CRISPR.</p>

    <h1>Find The Caenorhabditis elegans Orthologs</h1>
    <p> In order to use the service, please insert your human genes names (separated by commas if there are more than
        one), for example: TCP1,DDR1,SRSF5</p>
    <div class="gap-10"></div>
    <form action="/c_elegans_orthologs" method="POST">
        Your human genes: <input style=width:400px; name="text">
        <input type="submit" value="Submit" onclick="toggle_visibility('myloader','mycontainer');">
        <br> Input type: <select name="type_select">
            <option value=True>Genes Names</option>
            <option value=>Genes Ids</option>
        </select>
        <br> Minimum number of sources:
        <select name="sources_bar">
            <option value=0>0</option>
            <option value=1>1</option>
            <option selected value=2>2 (Default)</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
        </select>
        <br>
        Length ratio range: <input type="text" name="length_ratio_from" list="worm_down_bar" style=width:100px; value=0.5>
            <datalist id="worm_down_bar">
            </datalist>
        to <input type="text" name="length_ratio_to" list="worm_top_bar" style=width:100px; value=2>
            <datalist id="worm_top_bar">
            </datalist>
    </form>

    <h1>Find The Human Orthologs</h1>
    <p> In order to use the service, please insert your Caenorhabditis elegans names (separated by commas if there are more
        than one), for example: cct-1,cap-1,arx-2</p>
    <div class="gap-10"></div>
    <form action="/human_orthologs" method="POST">
        Your C.elegans genes: <input style=width:400px; name="text">
        <input type="submit" value="Submit" onclick="toggle_visibility('myloader','mycontainer');">
        <br> Input type: <select name="type_select">
            <option value=True>Genes Names</option>
            <option value=>Genes Ids</option>
        </select>
        <br> Minimum number of sources:
        <select name="sources_bar">
            <option value=0>0</option>
            <option value=1>1</option>
            <option selected value=2>2 (Default)</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
        </select>
        <br>
        Length ratio range: <input type="text" name="length_ratio_from" list="human_down_bar" style=width:100px; value=0.5>
            <datalist id="human_down_bar">
            </datalist>
        to <input type="text" name="length_ratio_to" list="human_top_bar" style=width:100px; value=2>
            <datalist id="human_top_bar">
            </datalist>
    </form>

    <h1><b> Check The Variants </b></h1>
    <p> In order to use the service, please insert your genes names and variants according to the format below:</p>
    <p>GeneName1:[Var1,Var2],GeneName2:[Var1,Var2,Var3], for example: FBXO11:[Arg138,Ser840],KDELR3:[Arg169,Val199]</p>
    <div class="gap-10"></div>
    <form action="/variants" method="POST">
        Your human genes and their variants: <input style=width:400px; name="text">
        <input type="submit" value="Submit" onclick="toggle_visibility('myloader','mycontainer');">
        <br> Minimum number of sources:
        <select name="sources_bar">
            <option value=0>0</option>
            <option value=1>1</option>
            <option selected value=2>2 (Default)</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
        </select>
        <br>
        Length ratio range: <input type="text" name="length_ratio_from" list="conserved_down_bar" style=width:100px; value=0.5>
            <datalist id="conserved_down_bar">
            </datalist>
        to <input type="text" name="length_ratio_to" list="conserved_top_bar" style=width:100px; value=2>
            <datalist id="conserved_top_bar">
            </datalist>
    </form>

    <div class="gap-30"></div>
    <p>***The process can take up to several minutes, please be patient***</p>

    </div>

    <div class="gap-80"></div>
    <footer>
        <p>&copy; All rights reserved to <a href="https://www.zaidelbarlab.com/">Ronen Zaidel Bar's lab</a>.</p>
        <p>Developed and maintained by Liran Avda of Ronen Zaidel Bar's lab.</p>
    </footer>
    {% endblock %}
</body>
</html>