<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Acknowledgements</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> References </h1>
    <p><b>TBD</b></p>
    <p>DAVID </p>
    <p>OrthoList2</p>
    <p>NLM (GeneBank, NCBI)</p>
    <p>WormBase</p>
    <p>Uniprot</p>
    <p>MMP</p>

    <div class="gap-80"></div>
    <footer>
        <p>&copy; All rights reserved to <a href="https://www.zaidelbarlab.com/">Ronen Zaidel Bar's lab</a>.</p>
        <p>Developed and maintained by Liran Avda of Ronen Zaidel Bar's lab.</p>
    </footer>
    {% endblock %}
  </body>
</html>